@charset "utf-8";
/* CSS Document */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #EAEAEA;
	padding: 0;
	overflow-y: scroll;
}


img { /* 此选择器将删除某些浏览器中显示在图像周围的默认蓝色边框（当该图像包含在链接中时） */
	border: none;
	margin-top:0px;
	margin-bottom:0px;
}


.sidebar1 ul li{
	margin-left:-40px;
	text-align: center;
	font-size: 15pt;
	list-style: none;
	line-height: 170%;
}

/*.content ul{
	margin-left: 215px;
}

.content ul li{
	margin-left:-40px;
	font-size: 15pt;
	list-style: none;
}

.content ul li ul li{
    margin-left:-140px;
    font-size: 12pt;
	list-style: none;
}*/
/* ~~ 站点链接的样式必须保持此顺序，包括用于创建悬停效果的选择器组在内。 ~~ */
.sidebar1 ul li a,.sidebar1 ul li a:link {
	color: #666666;
	text-decoration: none; /* 除非将链接设置成极为独特的外观样式，否则最好提供下划线，以便可从视觉上快速识别 */
}
.sidebar1 ul li:hover {
	background-color: #666699;
}

.sidebar1 ul li a:hover {
	color: #FFFFFF;
}
/*.content ul li a,.content ul li a:link{
    color:#666666;
    text-decoration: none;
    font-family: "Arial";
}
.content ul li a:hover,.content ul li a:active, .content ul li a:focus { 此组选择器将为键盘导航者提供与鼠标使用者相同的悬停体验。
	text-decoration: none;
	font-weight: bold;
	background-color: #F5F5F5;
}*/

/* ~~ 此固定宽度容器包含其它 div ~~ */

.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐 */  
}

/* ~~ 标题未指定宽度。它将扩展到布局的完整宽度。标题包含一个图像占位符，该占位符应替换为您自己的链接徽标 ~~ */
.header {
	background: #666699;
	margin-bottom:0px;
	margin-top:0px;
}


.sidebar1 {
	float: left;
	width: 100px;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;
	height: 830px;
	background: #EAEAEA;
}


/*.content {
	background: #FFF;
	padding: 10px 0;
	margin-top: 10px;
	width:830px;
	float: left;
}*/


/* ~~ 脚注 ~~ */
.footer {
	padding: 10px 0;
	background: #FFF;
	position: relative;/* 这可以使 IE6 hasLayout 以正确方式进行清除 */
	clear: both; /* 此清除属性强制 .container 了解列的结束位置以及包含列的位置 */
	font-size:10px;
	color:gray;
	text-align:center;
	line-height:100%;
}


.firstTitle{
	font-size: 30pt;
	font-family:"Arial";
	color:#FFFFFF;
	height:50pt;
	text-align:center;
	font-weight:bold;
}

.secondTitle{
	font-size: 18pt;
	height:30pt;
	text-align:center;
	font-weight:bold;
}

.common{
	color:#3506AC;
	font-size:15px;
	line-height:180%;
	text-indent:2em;
}

.commonInput
{
	color:#00F;
	font-size:12px;
	line-height:180%;
}

.commonButton
{
	color:#F00;
	font-size:12px;
	line-height:180%;
	text-align:center;
}


.firstLevel
{
	font-size:16px;
	line-height:150%;
	color:blue;
}

.nameList
{
	line-height:150%;
	font-size:15px;
}

.user{
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 14px;
}