body{
	/*background: -webkit-gradient(linear, 0% 50%, 90% 0%,from(#F0DAEE), to(#7C74B4));*/
	background:url("/hwsystem/img/login2.jpg");
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    /*#F0DAEE #7C74B4*/
}
.logblock{
	border:1px solid #D1C7C7;
	width:500px;
	height:300px;
	background-color: white;
	box-shadow: 10px 10px 5px #9B9999;
	border-radius: 5% 5% 5% 5%;
}

.logform{
	margin-top: 40px;
}

#logbutton{
	margin:0,auto;
}

.title{
	font-size: 30px;
	font-family: "黑体";
	text-align: center;
	margin-top: 40px;
}

/*.topbar{
	position: absolute;
	top: 0;
	width:100%;
	text-align: center;
	font-size: 45px;
	font-family: "黑体";
	/*background-color: #336699;#7C7979
	color: #000000;
}*/